In [1]:
import requests
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import json
from bs4 import BeautifulSoup
from unidecode import unidecode

In [19]:
df_kaggle = pd.read_csv('../data/dataframe clean/Kaggle.csv')
df_netflix = pd.read_csv('../data/dataframe clean/netflix_final_db.csv')
df_flixable = pd.read_csv('../data/dataframe clean/Flixable.csv')

In [29]:
df_kaggle.columns

Index(['title', 'type', 'duration', 'date_added', 'release_year', 'rating',
       'genres', 'director', 'cast', 'country'],
      dtype='object')

In [28]:
df_kaggle = df_kaggle[['title', 'type', 'duration', 'date_added','release_year', 'rating', 'genres', 'director', 'cast', 'country']]

In [39]:
df_kaggle

,title,type,duration,date_added,release_year,rating,genres,director,cast,country
0,3%,TV Show,4,14-Aug-20,2020,TV-MA,"International TV Shows, TV Dramas, TV Sci-Fi &...",NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil
1,1920,Movie,143,15-Dec-17,2008,TV-MA,"Horror Movies, International Movies, Thrillers",Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India
2,3 Heroines,Movie,124,5-Jan-19,2016,TV-PG,"Dramas, International Movies, Sports Movies",Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia
3,Blue Mountain State: The Rise of Thadland,Movie,90,1-Mar-16,2016,R,Comedies,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States
4,Blue Planet II,TV Show,1,3-Dec-18,2017,TV-G,"British TV Shows, Docuseries, Science & Nature TV",NaN,David Attenborough,United Kingdom
...,...,...,...,...,...,...,...,...,...,...
7782,Blown Away,TV Show,1,12-Jul-19,2019,TV-14,"International TV Shows, Reality TV",NaN,NaN,Canada
7783,Blue Exorcist,TV Show,2,1-Sep-20,2017,TV-MA,"Anime Series, International TV Shows",NaN,"Nobuhiko Okamoto, Jun Fukuyama, Kana Hanazawa,...",Japan
7784,Blue Is the Warmest Color,Movie,180,26-Aug-16,2013,NC-17,"Dramas, Independent Movies, International Movies",Abdellatif Kechiche,"Léa Seydoux, Adèle Exarchopoulos, Salim Kechio...","France, Belgium, Spain"
7785,Blue Jasmine,Movie,98,8-Mar-19,2013,PG-13,"Comedies, Dramas, Independent Movies",Woody Allen,"Cate Blanchett, Sally Hawkins, Alec Baldwin, L...",United States
7786,Blue Jay,Movie,81,6-Dec-16,2016,TV-MA,"Dramas, Independent Movies, Romantic Movies",Alex Lehmann,"Sarah Paulson, Mark Duplass, Clu Gulager",United States

In [35]:
df_flixable = df_flixable[['title', 'type', 'duration', 'date_added', 'release_year', 'rating', 'genres', 'director', 'cast', 'country']]

In [38]:
df_flixable

,title,type,duration,date_added,release_year,rating,genres,director,cast,country
0,Delicious in Dungeon,TV Show,1,NaN,2024,TV-MA,"['Anime Series', 'International TV Shows']",NaN,"['Kentaro Kumagai', 'Sayaka Sembongi', 'Asuna ...",NaN
1,Horizon,Movie,50,NaN,2024,TV-G,"['Documentaries', 'International Movies']",NaN,NaN,NaN
2,Princess Power,TV Show,2,NaN,2024,TV-Y,"['Docuseries', ""Kids' TV"", 'TV Comedies']",NaN,NaN,NaN
3,Society of the Snow,Movie,146,NaN,2024,R,"['Dramas', 'International Movies']",['J.A. Bayona'],"['Enzo Vogrincic', 'Agustín Pardella', 'Matías...","['Spain', 'Chile', 'Uruguay', 'United States']"
4,The Brothers Sun,TV Show,1,NaN,2024,TV-MA,"['Crime TV Shows', 'TV Action & Adventure', 'T...",NaN,"['Michelle Yeoh', 'Justin Chien', 'Sam Song Li...",NaN
...,...,...,...,...,...,...,...,...,...,...
6366,Lal Patthar,Movie,153,NaN,1971,TV-14,"['Classic Movies', 'Dramas', 'International Mo...",['Sushil Majumdar'],"['Raaj Kumar', 'Hema Malini', 'Rakhee Gulzar',...",['India']
6367,Prince,Movie,152,NaN,1969,TV-PG,"['Dramas', 'International Movies', 'Romantic M...",['Lekh Tandon'],"['Shammi Kapoor', 'Vyjayanthimala', 'Rajendra ...",['India']
6368,Amrapali,Movie,116,NaN,1966,TV-PG,"['Dramas', 'International Movies', 'Music & Mu...",['Lekh Tandon'],"['Vyjayanthimala', 'Sunil Dutt', 'Prem Nath', ...",['India']
6369,Professor,Movie,163,NaN,1962,TV-PG,"['Comedies', 'Dramas', 'International Movies']",['Lekh Tandon'],"['Shammi Kapoor', 'Kalpana', 'Lalita Pawar', '...",['India']
6370,Five Came Back: The Reference Films,TV Show,1,NaN,1945,TV-MA,['TV Shows'],NaN,NaN,['United States']

In [37]:
df_merged_flixable_kaggle = pd.concat([df_flixable, df_kaggle])
df_merged_flixable_kaggle

,title,type,duration,date_added,release_year,rating,genres,director,cast,country
0,Delicious in Dungeon,TV Show,1,NaN,2024,TV-MA,"['Anime Series', 'International TV Shows']",NaN,"['Kentaro Kumagai', 'Sayaka Sembongi', 'Asuna ...",NaN
1,Horizon,Movie,50,NaN,2024,TV-G,"['Documentaries', 'International Movies']",NaN,NaN,NaN
2,Princess Power,TV Show,2,NaN,2024,TV-Y,"['Docuseries', ""Kids' TV"", 'TV Comedies']",NaN,NaN,NaN
3,Society of the Snow,Movie,146,NaN,2024,R,"['Dramas', 'International Movies']",['J.A. Bayona'],"['Enzo Vogrincic', 'Agustín Pardella', 'Matías...","['Spain', 'Chile', 'Uruguay', 'United States']"
4,The Brothers Sun,TV Show,1,NaN,2024,TV-MA,"['Crime TV Shows', 'TV Action & Adventure', 'T...",NaN,"['Michelle Yeoh', 'Justin Chien', 'Sam Song Li...",NaN
...,...,...,...,...,...,...,...,...,...,...
7782,Blown Away,TV Show,1,12-Jul-19,2019,TV-14,"International TV Shows, Reality TV",NaN,NaN,Canada
7783,Blue Exorcist,TV Show,2,1-Sep-20,2017,TV-MA,"Anime Series, International TV Shows",NaN,"Nobuhiko Okamoto, Jun Fukuyama, Kana Hanazawa,...",Japan
7784,Blue Is the Warmest Color,Movie,180,26-Aug-16,2013,NC-17,"Dramas, Independent Movies, International Movies",Abdellatif Kechiche,"Léa Seydoux, Adèle Exarchopoulos, Salim Kechio...","France, Belgium, Spain"
7785,Blue Jasmine,Movie,98,8-Mar-19,2013,PG-13,"Comedies, Dramas, Independent Movies",Woody Allen,"Cate Blanchett, Sally Hawkins, Alec Baldwin, L...",United States
7786,Blue Jay,Movie,81,6-Dec-16,2016,TV-MA,"Dramas, Independent Movies, Romantic Movies",Alex Lehmann,"Sarah Paulson, Mark Duplass, Clu Gulager",United States

In [61]:
df_merged_flixable_kaggle.columns

Index(['title', 'type', 'duration', 'date_added', 'release_year', 'rating',
       'genres', 'director', 'cast', 'country'],
      dtype='object')

In [56]:
df_union = df_merged_flixable_kaggle.drop_duplicates(subset=['title'], keep="last")
df_union.shape

(11160, 10)

In [63]:
df_union.to_csv('database_scrap.csv')

In [46]:
df_netflix.head(2)

,Title_eng,Title_translated,Category,Season nb,Hours Viewed,Available Globally?,Release Date
0,The Night Agent,NaN,Serie,1.0,812100000,Yes,2023-03-23
1,Ginny & Georgia,NaN,Serie,2.0,665100000,Yes,2023-01-05

In [45]:
df_netflix = df_netflix[['Title_eng', 'Title_translated', 'Category', 'Season nb', 'Hours Viewed', 'Available Globally?', 'Release Date']]

In [51]:
df_netflix = df_netflix.rename(columns={'Title_eng': 'title'})

In [60]:
## A SUPPR 
df_TEMP = pd.merge(df_netflix, df_merged_flixable_kaggle, on='title')
df_TEMP.shape

(9081, 16)

In [57]:
df_project = pd.merge(df_netflix, df_union, on='title')
df_project

,title,Title_translated,Category,Season nb,Hours Viewed,Available Globally?,Release Date,type,duration,date_added,release_year,rating,genres,director,cast,country
0,The Night Agent,NaN,Serie,1.0,812100000,Yes,2023-03-23,TV Show,1,NaN,2023,TV-MA,"['Anime Series', 'British TV Shows', 'Crime TV...",NaN,"['Gabriel Basso', 'Luciane Buchanan', 'Hong Ch...",NaN
1,Ginny & Georgia,NaN,Serie,2.0,665100000,Yes,2023-01-05,TV Show,2,NaN,2023,TV-14,"['Anime Series', 'British TV Shows', 'Crime TV...",NaN,"['Brianne Howey', 'Antonia Gentry', 'Diesel La...",['United States']
2,Ginny & Georgia,NaN,Serie,1.0,302100000,Yes,2021-02-24,TV Show,2,NaN,2023,TV-14,"['Anime Series', 'British TV Shows', 'Crime TV...",NaN,"['Brianne Howey', 'Antonia Gentry', 'Diesel La...",['United States']
3,The Glory,더 글로리: 시즌 1,Serie,1.0,622800000,Yes,2022-12-30,TV Show,1,NaN,2022,TV-MA,"['Crime TV Shows', 'International TV Shows', ""...",NaN,"['Song Hye-kyo', 'Lee Do-hyun', 'Lim Ji-yeon',...",NaN
4,Wednesday,NaN,Serie,1.0,507700000,Yes,2022-11-23,TV Show,1,NaN,2022,TV-14,"['Anime Series', 'British TV Shows', 'Crime TV...",NaN,"['Jenna Ortega', 'Gwendoline Christie', 'Riki ...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6044,World Trade Center,NaN,NaN,NaN,100000,No,NaN,Movie,129,20-Nov-19,2006,PG-13,"Action & Adventure, Dramas",Oliver Stone,"Nicolas Cage, Michael Peña, Maggie Gyllenhaal,...",United States
6045,"Yours Sincerely, Kanan Gill",NaN,NaN,NaN,100000,No,NaN,Movie,72,24-Apr-20,2020,TV-MA,Stand-Up Comedy,Neville Shah,Kanan Gill,India
6046,Zach Galifianakis: Live at the Purple Onion,NaN,NaN,NaN,100000,No,NaN,Movie,61,26-Feb-19,2006,TV-MA,Stand-Up Comedy,Michael Blieden,"Zach Galifianakis, Brian Unger",United States
6047,Zack and Miri Make a Porno,NaN,NaN,NaN,100000,No,NaN,Movie,101,1-Oct-18,2008,R,"Comedies, Independent Movies, Romantic Movies",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, J...",United States
6048,Zion,NaN,NaN,NaN,100000,No,NaN,Movie,12,10-Aug-18,2018,TV-PG,"Documentaries, Sports Movies",Floyd Russ,Zion Clark,United States

In [58]:
df_project.isna().sum()

title                     0
Title_translated       4989
Category               3291
Season nb              3727
Hours Viewed              0
Available Globally?       0
Release Date           3881
type                      0
duration                  0
date_added             1856
release_year              0
rating                    4
genres                    0
director               3274
cast                    518
country                1099
dtype: int64

In [62]:
df_project.to_csv('database_netflixable.csv')

In [64]:
df_merged_flixable_kaggle.columns

Index(['title', 'type', 'duration', 'date_added', 'release_year', 'rating',
       'genres', 'director', 'cast', 'country'],
      dtype='object')

In [ ]:
df_netflix.columns